* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

th {
    background-color: #eee;
}

td {
    background-color: #fff;
}

th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 3px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.text-error {
    color: #900;
}

.text-error:before {
    content: "* "
}

.is-error {
    border: 1px solid #900!important;
}

.view, .add, .edit, .delete {
    cursor: pointer;
}

.row-functions {
    display: inline-block;
    width: auto;
}